html,
body{
	margin: 0;
	padding: 0;
	height: 100%;
}

#cont{
	min-height: 100%;
	position: relative;
}

#body{
	padding-bottom: 60px;
}

#logIN{
	background-color: #61ACD2;
	margin: 150px  auto;
	padding: 30px 20px 30px 20px;
	width: 400px;
	height: 400px;
	text-align: center;
}
#example{
	width: 90%;
	margin: 0 auto;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}



.indentMenu{
	padding: 0px 0px 0px 10px;
}

.navbar .divider-vertical {
height: 50px;
margin: 0 9px;
border-right: 1px solid #ffffff;
border-left: 1px solid #cccccc;
}

.navbar-inverse .divider-vertical {
border-right-color: #222222;
border-left-color: #111111;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

.logInMessage{
	text-align: center;
	color: #2d6ca2;
}


.form-group label {
    margin-top: 5px;
}

.myStar{
	color: red;
	font-size: 15;
	padding-left: -5px;
}



